<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <ul>
        <!-- o arroba quer diz para o compilador que isso que é um código C#-->
        <!--Exibindo os livros ParaLer-->
        @foreach (var livro in ViewBag.Livros)
        {
            <li>@livro.Titulo - @livro.Autor</li>
        }
    </ul>
</body>
</html>